# Servidor
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sgh_hospital
DB_USER=root
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=tu_clave_secreta_muy_larga_y_segura
JWT_EXPIRES_IN=8h

# Seguridad
MAX_LOGIN_ATTEMPTS=5
LOCK_TIME_MINUTES=15
